<% if not @messages.nil? %>
<% @messages.each do |message| %>
 <p><%= content_tag(:span, message.user.email, :id => "person" ) %>: <%= content_tag(:span, message.msg, :id => "message") %></p>
<% end %>
<% else %>
 <p><%= content_tag(:span, @message.user.email, :id => "person" ) %>: <%= content_tag(:span, @message.msg, :id => "message") %></p>
<% end %>
